<%= form_with(model: item_estoque, class: "contents") do |form| %>
  <% if item_estoque.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(item_estoque.errors.count, "error") %> prohibited this item_estoque from being saved:</h2>

      <ul class="list-disc ml-6">
        <% item_estoque.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :nome %>
    <%= form.text_field :nome, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": item_estoque.errors[:nome].none?, "border-red-400 focus:outline-red-600": item_estoque.errors[:nome].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :categoria %>
    <%= form.text_field :categoria, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": item_estoque.errors[:categoria].none?, "border-red-400 focus:outline-red-600": item_estoque.errors[:categoria].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :quantidade %>
    <%= form.number_field :quantidade, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": item_estoque.errors[:quantidade].none?, "border-red-400 focus:outline-red-600": item_estoque.errors[:quantidade].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :estoque_minimo %>
    <%= form.number_field :estoque_minimo, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": item_estoque.errors[:estoque_minimo].none?, "border-red-400 focus:outline-red-600": item_estoque.errors[:estoque_minimo].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :preco_unitario %>
    <%= form.text_field :preco_unitario, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": item_estoque.errors[:preco_unitario].none?, "border-red-400 focus:outline-red-600": item_estoque.errors[:preco_unitario].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :localizacao %>
    <%= form.text_field :localizacao, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": item_estoque.errors[:localizacao].none?, "border-red-400 focus:outline-red-600": item_estoque.errors[:localizacao].any?}] %>
  </div>

  <div class="inline">
    <%= form.submit class: "w-full sm:w-auto rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
