<div id="<%= dom_id item_estoque %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Nome:</strong>
    <%= item_estoque.nome %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Categoria:</strong>
    <%= item_estoque.categoria %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Quantidade:</strong>
    <%= item_estoque.quantidade %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Estoque minimo:</strong>
    <%= item_estoque.estoque_minimo %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Preco unitario:</strong>
    <%= item_estoque.preco_unitario %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Localizacao:</strong>
    <%= item_estoque.localizacao %>
  </div>
</div>
