<div id="<%= dom_id chamado %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Titulo:</strong>
    <%= chamado.titulo %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Descricao:</strong>
    <%= chamado.descricao %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Funcionario:</strong>
    <%= chamado.funcionario_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Categoria:</strong>
    <%= chamado.categoria %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Prioridade:</strong>
    <%= chamado.prioridade %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Status:</strong>
    <%= chamado.status %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Data vencimento:</strong>
    <%= chamado.data_vencimento %>
  </div>
</div>
