<div id="<%= dom_id funcionario %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Nome:</strong>
    <%= funcionario.nome %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Email:</strong>
    <%= funcionario.email %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Departamento:</strong>
    <%= funcionario.departamento %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Cargo:</strong>
    <%= funcionario.cargo %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Telefone:</strong>
    <%= funcionario.telefone %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Data admissao:</strong>
    <%= funcionario.data_admissao %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Salario:</strong>
    <%= funcionario.salario %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Status:</strong>
    <%= funcionario.status %>
  </div>
</div>
